openapi: '3.1.0'

info:
  title: VDJbase API
  version: 2.0.0
  description: Public API for VDJbase holding AIRR-seq and Genomic data.
servers:
  - url: https://vdjbase.org/api_v1
  - url: http://127.0.0.1/api_v1

components:
  schemas:
    # The response object for species lists
    species_response:
      type: object
      properties:
        species:
          type: array
          items:
            $ref: 'https://raw.githubusercontent.com/airr-community/airr-standards/v1.4.1/specs/airr-schema-openapi3.yaml#/Ontology'
        
    # The response object for germline set reference info
    datasets_response:
      type: object
      properties:
        datasets:
          type: array
          items:
            type: object
            properties:
              dataset:
                type: string
              locus:
                type: string
              type:
                type: string
    
    subject_dataset_response:
      type: object
      properties:
        subject_datasets:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              study_name:
                type: string
              subject_identifier:
                type: string
              sample_identifier:
                type: string
              dataset:
                type: string

    # error response
    error_response:
      type: object
      properties:
        message:
          type: string
          description: Detail about the error

paths:
  /{type}/species:
    get:
      summary: List species with datasets
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [airrseq, genomic]
      responses:
        '200':
          description: |
            A successful call returns the repertoire data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/species_response'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'

  /{type}/datasets/{species}:
    get:
      summary: List datasets for a species
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [airrseq, genomic]
        - name: species
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of datasets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datasets_response'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'

  /{type}/subjects/{species}/{dataset}:
    get:
      summary: List subjects and samples in a dataset
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [airrseq, genomic]
        - name: species
          in: path
          required: true
          schema:
            type: string
        - name: dataset
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >
            return a list of subjects in the specified dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subject_dataset'
