{% extends "base.html" %}

{% block title %}AIRR-Seq Import Status{% endblock %}

{% block c_body %}
        <h2>AIRR-Seq Import Status</h2>
        <div id='report_status'>
        </div>

{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    $(document).ready(async function() {
        let status = 'PENDING';
        let last_info = '';
        do {
            await sleep(2000);
            $.ajax({
                type: "GET",
                url: '{{ url_for("api.reports_reports_status", job_id=id) }}',
                success: function (data) {
                    if (data.status === 'PENDING') {
                        console.log(data.info.value);
                        if (data.info.value === last_info) {
                            $('#report_status').append('.');
                        } else {
                            $('#report_status').append('<br>' + data.info.value);
                            last_info = data.info.value;
                        }
                    } else {
                        console.log(data.results)

                        if (status !== data.status) {       // i.e., it has just changed
                            $('#report_status').append('<br><br>' + data.results.log);
                        }
                    }
                    console.log(data.status);
                    status = data.status;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                    status = 'FAILED';
                }
            });
        } while (status === 'PENDING');
    });

  </script>
{% endblock %}
